# GOOGLE
# diversos intentos y fracasé. Es pago

In [10]:
import requests

def geocode(zip_code):
    api_key = 'AIzaSyDFV7SFzdqv_6oK2pSmnNnEySITCVNAz_Y'  # Replace with your Google Maps API key
    #url = f'https://maps.googleapis.com/maps/api/geocode/json?address={zip_code}, Argentina&key={api_key}'
    url = f'https://maps.googleapis.com/maps/api/geocode/json?components=country:AR|postal_code:{zip_code}&key={api_key}'

    response = requests.get(url)
    data = response.json()

    if data['status'] == 'OK':
        # Extract latitude and longitude
        location = data['results'][0]['geometry']['location']
        latitude = location['lat']
        longitude = location['lng']
        return latitude, longitude
    else:
        return None

# Example usage
zip_code = 'C1425EZG'
coordinates = geocode(zip_code)
if coordinates:
    latitude, longitude = coordinates
    print(f'Latitude: {latitude}, Longitude: {longitude}')
else:
    print('Geocoding failed.')

Geocoding failed.

In [5]:
zip_code = '1425'
coordinates = geocode(zip_code)
if coordinates:
    latitude, longitude = coordinates
    print(f'Latitude: {latitude}, Longitude: {longitude}')
else:
    print('Geocoding failed.')

Latitude: -38.416097, Longitude: -63.61667199999999

In [6]:
zip_code = '1428'
coordinates = geocode(zip_code)
if coordinates:
    latitude, longitude = coordinates
    print(f'Latitude: {latitude}, Longitude: {longitude}')
else:
    print('Geocoding failed.')

Latitude: -38.416097, Longitude: -63.61667199999999

In [7]:
zip_code = 'C1425EZG'
coordinates = geocode(zip_code)
if coordinates:
    latitude, longitude = coordinates
    print(f'Latitude: {latitude}, Longitude: {longitude}')
else:
    print('Geocoding failed.')

Latitude: -38.416097, Longitude: -63.61667199999999

In [8]:
zip_code = 'C1428ARN'
coordinates = geocode(zip_code)
if coordinates:
    latitude, longitude = coordinates
    print(f'Latitude: {latitude}, Longitude: {longitude}')
else:
    print('Geocoding failed.')

Latitude: -38.416097, Longitude: -63.61667199999999

# API de NOMINATIM
## Parecería más fácil el request directo de la URL (ver más abajo)

In [16]:
from geopy.geocoders import Nominatim

def geocode(zip_code):
    geolocator = Nominatim(user_agent="my_geocoder")
    address = f"{zip_code}, Buenos Aires, Argentina"
    location = geolocator.geocode(address)

    if location:
        latitude = location.latitude
        longitude = location.longitude
        return latitude, longitude
    else:
        return None

# Example usage
zip_code = '1425'
coordinates = geocode(zip_code)
if coordinates:
    latitude, longitude = coordinates
    print(f'Latitude: {latitude}, Longitude: {longitude}')
else:
    print('Geocoding failed.')

Latitude: -32.8872908, Longitude: -68.83803153506608

In [14]:
# Example usage
zip_code = '1428'
coordinates = geocode(zip_code)
if coordinates:
    latitude, longitude = coordinates
    print(f'Latitude: {latitude}, Longitude: {longitude}')
else:
    print('Geocoding failed.')

Latitude: -34.56137302222222, Longitude: -58.45668013055556

# NOMINATIM
## Creo que iría por acá
### El manual está acá <https://nominatim.org/release-docs/develop/api/Search/>

In [47]:
import requests
prueba = requests.get("https://nominatim.openstreetmap.org/search?postalcode=1425&country=Argentina&format=geojson")
print(prueba.text)
import json
adic = json.loads(prueba.text)
adic['features'][0]['geometry']['coordinates']

{"type":"FeatureCollection","licence":"Data © OpenStreetMap contributors, ODbL 1.0. https://osm.org/copyright","features":[{"type":"Feature","properties":{"place_id":299934577,"display_name":"Palermo, Buenos Aires, Comuna 14, Ciudad Autónoma de Buenos Aires, 1425, Argentina","place_rank":21,"category":"place","type":"postcode","importance":0.445},"bbox":[-58.574696901398,-34.746243590528,-58.254696901398,-34.426243590528],"geometry":{"type":"Point","coordinates":[-58.41469690139751,-34.58624359052795]}}]}

[-58.41469690139751, -34.58624359052795]

In [4]:
adic['features'][0].keys()

dict_keys(['type', 'properties', 'bbox', 'geometry'])

In [14]:
localidades = pd.read_csv("data/localities.csv")

In [15]:
localidades.head()

     CP        Provincia           Localidad
0  1001  Capital Federal       CABA - Retiro
1  1002  Capital Federal    CABA - Monserrat
2  1003  Capital Federal  CABA - San Nicolas
3  1004  Capital Federal  CABA - San Nicolas
4  1005  Capital Federal  CABA - San Nicolas

In [18]:
localidades['CP'].nunique()

3448

In [80]:
3448/30

114.93333333333334

In [84]:
115*29+113

3448

In [34]:
CP_prov_pair = localidades[['CP', 'Provincia']]

In [33]:
mygb = localidades.groupby(['CP','Provincia']).count()
mygb
#mygb[mygb['Provincia']>200]

                       Localidad
CP   Provincia
1001 Capital Federal           1
1002 Capital Federal           1
1003 Capital Federal           1
1004 Capital Federal           1
1005 Capital Federal           1
...                          ...
9413 Tierra Del Fuego          1
9420 Santa Cruz               47
     Tierra Del Fuego         18
9421 Tierra Del Fuego          1
9431 Tierra Del Fuego          1

[3781 rows x 1 columns]

In [37]:
len(CP_prov_pair)

23071

In [39]:
CP_prov_pair= CP_prov_pair.drop_duplicates()
CP_prov_pair

         CP         Provincia
0      1001   Capital Federal
1      1002   Capital Federal
2      1003   Capital Federal
3      1004   Capital Federal
4      1005   Capital Federal
...     ...               ...
23003  9413  Tierra Del Fuego
23004  9420        Santa Cruz
23005  9420  Tierra Del Fuego
23069  9421  Tierra Del Fuego
23070  9431  Tierra Del Fuego

[3781 rows x 2 columns]

In [41]:
mygb2 = CP_prov_pair.groupby('CP').count()
mygb2

      Provincia
CP
1001          1
1002          1
1003          1
1004          1
1005          1
...         ...
9412          1
9413          1
9420          2
9421          1
9431          1

[3448 rows x 1 columns]

In [58]:
len(mygb2[mygb2['Provincia']==2])

311

In [57]:
len(mygb2[mygb2['Provincia']==3])

11

In [59]:
mygb2[mygb2['Provincia']==3]

      Provincia
CP
3636          3
5274          3
5405          3
5719          3
6128          3
6140          3
6216          3
8134          3
8185          3
8336          3
9303          3

In [60]:
CP_prov_pair[CP_prov_pair['CP']==9303]

         CP   Provincia
22866  9303  Santa Cruz
22868  9303      Chubut
22870  9303   Rio Negro

In [75]:
CPs = localidades['CP'].drop_duplicates()
CPs

0        1001
1        1002
2        1003
3        1004
4        1005
         ...
23001    9412
23003    9413
23004    9420
23069    9421
23070    9431
Name: CP, Length: 3448, dtype: int64

In [73]:
import requests
import json
def request_coordinates(CP):
    URL = "https://nominatim.openstreetmap.org/search?postalcode="+str(CP)+"&country=Argentina&format=geojson"
    my_request = requests.get(URL)
    print("Request answer: ")
    print(my_request.text)

    adic = json.loads(my_request.text)
    answer = adic['features'][0]['geometry']['coordinates']
    answer.reverse()
    return answer

request_coordinates(1414)

Request answer:
{"type":"FeatureCollection","licence":"Data © OpenStreetMap contributors, ODbL 1.0. https://osm.org/copyright","features":[{"type":"Feature","properties":{"place_id":299934570,"display_name":"Villa Crespo, Buenos Aires, Comuna 15, Ciudad Autónoma de Buenos Aires, 1414, Argentina","place_rank":21,"category":"place","type":"postcode","importance":0.445},"bbox":[-58.59762822795,-34.751818598137,-58.27762822795,-34.431818598137],"geometry":{"type":"Point","coordinates":[-58.43762822795031,-34.59181859813665]}}]}

[-34.59181859813665, -58.43762822795031]

[-49.98408923333333, -68.91378983333334]

In [62]:
localidades[localidades['CP']==9303]

         CP   Provincia                    Localidad
22866  9303  Santa Cruz                Laguna Grande
22867  9303  Santa Cruz                    Rio Chico
22868  9303      Chubut             Cañadon Del Toro
22869  9303      Chubut                Cerro Redondo
22870  9303   Rio Negro                      Chonque
22871  9303      Chubut                     El Baile
22872  9303   Rio Negro                    El Guadal
22873  9303      Chubut             El Pan De Azucar
22874  9303      Chubut                      El Paso
22875  9303      Chubut                     Garminue
22876  9303   Rio Negro                   La Barreta
22877  9303   Rio Negro                     La Julia
22878  9303   Rio Negro                     La Leona
22879  9303   Rio Negro                    La Pigmea
22880  9303      Chubut                   La Porteña
22881  9303   Rio Negro                 Las Mercedes
22882  9303  Santa Cruz           Paso De Los Indios
22883  9303      Chubut                  Paso Ibañez
22884  9303      Chubut              S De La Ventana
22885  9303      Chubut                   Tauel Aike
22886  9303   Rio Negro           C Luis Piedrabuena
22887  9303  Santa Cruz  Comandante Luis Piedrabuena
22888  9303      Chubut             P Del Rio S Cruz

# INFO DE DATAR
## Es info parcial. Incluso parcial para el viejo CP
### La info se puede descargar de acá <http://datar.info/en/dataset/codigo-postal-argentino>

In [6]:
import pandas as pd

In [7]:
cpa_geo = pd.read_csv("cpa_csv_con_geo/cpa_geo_parcial.csv")

In [8]:
cps = (cpa_geo.dropna()).apply(lambda row: row['cpa'][1:5], axis=1)
cps = cps.astype('int')

In [9]:
cps.describe()

count    826831.000000
mean       4144.211739
std        2203.858369
min        1001.000000
25%        2005.000000
50%        3514.000000
75%        5600.000000
max        9420.000000
dtype: float64

In [12]:
cps.head()

9     4126
10    4126
11    4126
12    4126
15    4126
dtype: int32

In [11]:
cps.nunique()

1859